[submodule "sokol/lib/sokol-zig"]
	path = sokol/lib/sokol-zig
	url = https://github.com/floooh/sokol-zig.git
[submodule "sokol/lib/zig-ecs"]
	path = sokol/lib/zig-ecs
	url = https://github.com/prime31/zig-ecs.git
